# Pandas (2)

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [11]:
import pandas as pd
df = pd.read_csv('sp500hst.txt', sep=',', header = None, names=["date", "ticker", "open", "high", "low", "close", "volume"])
df

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Посчитайте количество уникальных цифр, которые используются каждой строке в столбце volume.

In [4]:
def n_digits(volume):
    return len(set(str(volume)))
n_digits(1234)

4

In [6]:
df['volume'].map(n_digits)

0         5
1         3
2         5
3         2
4         4
         ..
122569    4
122570    5
122571    5
122572    5
122573    4
Name: volume, Length: 122574, dtype: int64

In [3]:
df.head()

       date ticker   open     high     low  close  volume
0  20090821      A  25.60  25.6100  25.220  25.55   34758
1  20090824      A  25.64  25.7400  25.330  25.50   22247
2  20090825      A  25.50  25.7000  25.225  25.34   30891
3  20090826      A  25.32  25.6425  25.145  25.48   33334
4  20090827      A  25.50  25.5700  25.230  25.54   70176

3. Для каждой строки рассчитайте разность между значениями high и low, если индекс столбца нечетный, и разность между close и high в противном случае.

In [8]:
df.head(2)

       date ticker   open   high    low  close  volume
0  20090821      A  25.60  25.61  25.22  25.55   34758
1  20090824      A  25.64  25.74  25.33  25.50   22247

In [10]:
df.loc[0].name

0

In [12]:
def diff(row):
    if row.name % 2:
        return row['high'] - row['low']
    else:
        return row['close'] - row['high']

In [14]:
#df.apply(diff, axis=1)

0        -0.0600
1         0.4100
2        -0.3600
3         0.4975
4        -0.0300
           ...
122569    0.5200
122570   -0.4700
122571    0.7100
122572   -1.4100
122573    1.0700
Length: 122574, dtype: float64

In [17]:
import numpy as np
np.where(
    df.index % 2 == 1,
    df['high'] - df['low'],
    df['close'] - df['high']
)

array([-0.06,  0.41, -0.36, ...,  0.71, -1.41,  1.07])

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2.2

__Данная работа является продолжением ЛР №2. Для начала работы загрузите таблицы (см. задание 1.1)__

In [12]:
recipes = pd.read_csv('recipes_sample.csv', sep = ',')
reviews = pd.read_csv('reviews_sample.csv', sep = ',')

### Применение функций к pd.Series и pd.DataFrame

4.1 Напишите функцию, которая переводит минуты в формат "XhYm". Примените эту функцию к столбцу `minutes` таблицы `recipes` (без перезаписи исходного столбца) при помощи метода `map`.

In [26]:
def m_to_hm(m: int) -> str:
    return f'{m//60}h{m%60}m'


list(map(m_to_hm, recipes['minutes']))

['1h30m',
 '0h10m',
 '0h30m',
 '0h45m',
 '0h25m',
 '0h15m',
 '0h28m',
 '0h5m',
 '0h45m',
 '0h40m',
 '2h5m',
 '0h20m',
 '2h15m',
 '0h50m',
 '0h15m',
 '1h30m',
 '1h5m',
 '10h45m',
 '0h55m',
 '0h25m',
 '0h55m',
 '0h20m',
 '5h45m',
 '1h10m',
 '1h50m',
 '0h15m',
 '0h50m',
 '1h0m',
 '0h20m',
 '1h15m',
 '0h35m',
 '0h55m',
 '2h30m',
 '0h25m',
 '25h0m',
 '0h50m',
 '0h45m',
 '0h5m',
 '0h5m',
 '1h0m',
 '0h40m',
 '0h35m',
 '0h40m',
 '1h5m',
 '0h6m',
 '0h20m',
 '0h5m',
 '0h25m',
 '0h40m',
 '7h10m',
 '2h0m',
 '0h33m',
 '1h10m',
 '0h22m',
 '0h16m',
 '0h40m',
 '0h15m',
 '1h30m',
 '0h50m',
 '0h20m',
 '0h20m',
 '1h50m',
 '0h50m',
 '0h55m',
 '1h15m',
 '1h30m',
 '0h50m',
 '0h20m',
 '1h35m',
 '6h15m',
 '1h5m',
 '1h12m',
 '1h20m',
 '1h15m',
 '0h20m',
 '0h10m',
 '0h35m',
 '0h5m',
 '0h25m',
 '1h5m',
 '0h40m',
 '1h20m',
 '0h40m',
 '0h30m',
 '0h5m',
 '0h35m',
 '0h35m',
 '3h0m',
 '0h30m',
 '0h20m',
 '0h5m',
 '0h2m',
 '0h45m',
 '0h2m',
 '0h13m',
 '0h40m',
 '0h50m',
 '0h5m',
 '0h55m',
 '0h20m',
 '0h25m',
 '1h0m',
 '0h35m',
 '0h50m',
 '0h2m',
 '0h3m',
 '0h30m',
 '1h30m',
 '3h0m',
 '0h10m',
 '3h35m',
 '1h20m',
 '0h10m',
 '0h10m',
 '4h10m',
 '0h20m',
 '0h25m',
 '0h15m',
 '3h40m',
 '4h10m',
 '0h35m',
 '0h20m',
 '12h5m',
 '0h12m',
 '12h30m',
 '0h50m',
 '1h0m',
 '1h15m',
 '0h30m',
 '0h25m',
 '0h15m',
 '0h30m',
 '0h15m',
 '0h15m',
 '0h15m',
 '0h45m',
 '1h20m',
 '0h16m',
 '0h25m',
 '1h20m',
 '1h5m',
 '0h40m',
 '0h15m',
 '0h4m',
 '0h2m',
 '0h5m',
 '0h5m',
 '1h0m',
 '0h20m',
 '1h0m',
 '0h40m',
 '1h10m',
 '1h10m',
 '0h1m',
 '0h10m',
 '1h5m',
 '0h40m',
 '0h13m',
 '0h40m',
 '1h10m',
 '1h10m',
 '0h40m',
 '0h20m',
 '1h10m',
 '0h40m',
 '0h15m',
 '3h15m',
 '0h45m',
 '0h3m',
 '0h32m',
 '0h30m',
 '0h45m',
 '0h35m',
 '0h40m',
 '1h25m',
 '2h23m',
 '0h10m',
 '1h50m',
 '0h45m',
 '0h40m',
 '0h15m',
 '0h25m',
 '0h2m',
 '1h15m',
 '0h30m',
 '0h35m',
 '0h30m',
 '0h30m',
 '0h30m',
 '0h30m',
 '0h30m',
 '0h25m',
 '0h50m',
 '0h32m',
 '0h40m',
 '0h25m',
 '0h10m',
 '2h0m',
 '0h50m',
 '5h30m',
 '1h20m',
 '6h10m',
 '0h25m',
 '1h10m',
 '1h0m',
 '0h30m',
 '0h10m',
 '1h20m',
 '4h0m',
 '0h33m',
 '1h5m',
 '1h20m',
 '0h5m',
 '0h30m',
 '0h5m',
 '0h5m',
 '0h25m',
 '0h15m',
 '2h20m',
 '0h13m',
 '0h50m',
 '1h20m',
 '0h5m',
 '0h55m',
 '0h40m',
 '0h20m',
 '0h10m',
 '0h25m',
 '2h5m',
 '0h25m',
 '5h10m',
 '2h15m',
 '0h55m',
 '1h15m',
 '0h20m',
 '1h0m',
 '0h10m',
 '0h7m',
 '0h10m',
 '0h30m',
 '0h25m',
 '0h50m',
 '0h15m',
 '4h0m',
 '0h8m',
 '1h45m',
 '2h40m',
 '0h5m',
 '0h55m',
 '1h20m',
 '0h20m',
 '0h45m',
 '3h45m',
 '6h20m',
 '0h5m',
 '0h25m',
 '12h25m',
 '0h5m',
 '0h45m',
 '0h33m',
 '0h40m',
 '0h35m',
 '0h25m',
 '1h0m',
 '0h5m',
 '0h28m',
 '2h0m',
 '0h5m',
 '0h10m',
 '0h20m',
 '0h25m',
 '0h20m',
 '0h35m',
 '0h10m',
 '4h10m',
 '0h5m',
 '0h5m',
 '0h40m',
 '0h10m',
 '1h8m',
 '6h30m',
 '0h5m',
 '0h20m',
 '0h22m',
 '0h20m',
 '0h55m',
 '0h10m',
 '0h45m',
 '2h15m',
 '2h15m',
 '0h55m',
 '12h5m',
 '0h25m',
 '1h45m',
 '2h40m',
 '0h10m',
 '0h25m',
 '0h55m',
 '12h40m',
 '0h45m',
 '4h5m',
 '0h45m',
 '0h20m',
 '0h12m',
 '0h11m',
 '1h5m',
 '1h0m',
 '6h10m',
 '0h7m',
 '0h5m',
 '0h5m',
 '0h30m',
 '0h35m',
 '0h25m',
 '0h10m',
 '0h30m',
 '1h15m',
 '0h10m',
 '0h40m',
 '0h45m',
 '0h45m',
 '0h45m',
 '1h20m',
 '1h15m',
 '1h20m',
 '1h15m',
 '1h20m',
 '0h40m',
 '1h35m',
 '0h20m',
 '0h30m',
 '5h10m',
 '0h45m',
 '0h10m',
 '0h35m',
 '0h45m',
 '0h22m',
 '0h21m',
 '0h50m',
 '0h10m',
 '1h20m',
 '1h0m',
 '1h50m',
 '0h10m',
 '0h55m',
 '0h5m',
 '0h2m',
 '0h2m',
 '0h5m',
 '0h2m',
 '10h15m',
 '3h15m',
 '10h15m',
 '0h25m',
 '0h40m',
 '8h15m',
 '0h6m',
 '0h35m',
 '2h0m',
 '0h5m',
 '0h35m',
 '0h30m',
 '0h40m',
 '1h0m',
 '1h50m',
 '0h30m',
 '1h5m',
 '0h5m',
 '1h15m',
 '0h10m',
 '0h35m',
 '0h35m',
 '0h40m',
 '1h30m',
 '0h45m',
 '0h30m',
 '0h15m',
 '0h55m',
 '0h15m',
 '0h35m',
 '0h55m',
 '0h25m',
 '0h35m',
 '0h2m',
 '0h2m',
 '0h55m',
 '1h15m',
 '0h25m',
 '1h5m',
 '0h15m',
 '0h15m',
 '1h5m',
 '1h15m',
 '0h20m',
 '0h30m',
 '1h45m',
 '2h30m',
 '0h20m',
 '0h55m',
 '0h40m',
 '3h10m',
 '5h10m',
 '0h15m',
 '0h40m',
 '8h10m',
 '1h15m',
 '1h5m',
 '3h30m',
 '2h0m',
 '1h8m',
 '8h10m',
 '6h10m',
 '0h27m',
 '0h40m',
 '0h15m',
 '1h0m',
 '0h10m',
 '0h45m',
 '0h30m',
 '1h15m',
 '0h35m',
 '0h40m',
 '0h25m',
 '0h2m',
 '1h5m',
 '0h55m',
 '2h25m',
 '0h5m',
 '1h10m',
 '0h35m',
 '1h10m',
 '0h40m',
 '0h35m',
 '0h40m',
 '0h25m',
 '1h30m',
 '0h25m',
 '0h10m',
 '0h15m',
 '0h0m',
 '1h0m',
 '2h10m',
 '2h35m',
 '0h15m',
 '0h10m',
 '0h50m',
 '0h35m',
 '4h30m',
 '0h5m',
 '0h29m',
 '0h5m',
 '1h0m',
 '0h30m',
 '0h35m',
 '0h31m',
 '8h25m',
 '5h15m',
 '0h15m',
 '9h30m',
 '0h45m',
 '0h25m',
 '0h5m',
 '0h2m',
 '0h10m',
 '1h30m',
 '0h15m',
 '0h5m',
 '0h25m',
 '2h20m',
 '6h30m',
 '6h15m',
 '0h15m',
 '1h20m',
 '1h10m',
 '0h5m',
 '0h30m',
 '24h10m',
 '0h15m',
 '0h5m',
 '0h35m',
 '0h5m',
 '0h45m',
 '0h45m',
 '0h5m',
 '1h20m',
 '0h20m',
 '25h0m',
 '1h30m',
 '25h15m',
 '1h15m',
 '1h20m',
 '0h35m',
 '0h15m',
 '0h55m',
 '0h30m',
 '0h12m',
 '0h23m',
 '0h45m',
 '0h15m',
 '0h20m',
 '0h5m',
 '0h50m',
 '0h35m',
 '0h40m',
 '0h10m',
 '2h50m',
 '0h5m',
 '0h58m',
 '0h10m',
 '1h20m',
 '1h30m',
 '0h35m',
 '0h28m',
 '0h55m',
 '0h42m',
 '1h10m',
 '0h30m',
 '0h28m',
 '0h15m',
 '0h37m',
 '24h15m',
 '1h10m',
 '0h28m',
 '0h15m',
 '0h5m',
 '0h5m',
 '0h50m',
 '4h10m',
 '1h0m',
 '0h35m',
 '0h28m',
 '0h5m',
 '0h15m',
 '0h35m',
 '1h5m',
 '1h40m',
 '1h35m',
 '2h20m',
 '1h20m',
 '1h3m',
 '1h15m',
 '0h25m',
 '0h52m',
 '0h20m',
 '0h22m',
 '0h45m',
 '0h45m',
 '0h25m',
 '0h30m',
 '0h35m',
 '0h20m',
 '2h25m',
 '0h35m',
 '0h45m',
 '0h17m',
 '0h15m',
 '0h30m',
 '1h0m',
 '0h50m',
 '3h30m',
 '0h35m',
 '1h0m',
 '0h15m',
 '0h5m',
 '0h45m',
 '0h10m',
 '0h50m',
 '18h10m',
 '1h15m',
 '1h40m',
 '0h35m',
 '0h3m',
 '1h30m',
 '0h30m',
 '0h50m',
 '0h45m',
 '1h15m',
 '0h40m',
 '0h42m',
 '0h40m',
 '0h30m',
 '0h35m',
 '0h40m',
 '1h45m',
 '0h25m',
 '6h10m',
 '3h0m',
 '0h40m',
 '0h5m',
 '0h45m',
 '0h50m',
 '0h12m',
 '1h5m',
 '1h40m',
 '3h30m',
 '2h30m',
 '0h5m',
 '0h35m',
 '1h5m',
 '0h10m',
 '0h35m',
 '0h50m',
 '0h48m',
 '0h30m',
 '0h40m',
 '0h25m',
 '0h3m',
 '0h20m',
 '0h10m',
 '0h45m',
 '0h5m',
 '0h50m',
 '0h30m',
 '0h45m',
 '0h13m',
 '0h5m',
 '0h35m',
 '1h0m',
 '0h10m',
 '0h40m',
 '24h5m',
 '0h30m',
 '0h11m',
 '0h5m',
 '0h35m',
 '0h30m',
 '1h20m',
 '1h0m',
 '0h40m',
 '1h15m',
 '0h50m',
 '0h50m',
 '0h15m',
 '0h10m',
 '0h55m',
 '0h15m',
 '0h36m',
 '1h5m',
 '0h35m',
 '0h55m',
 '0h10m',
 '1h45m',
 '0h31m',
 '1h20m',
 '0h50m',
 '25h20m',
 '2h15m',
 '0h5m',
 '0h55m',
 '0h15m',
 '0h40m',
 '1h10m',
 '0h45m',
 '1h0m',
 '1h0m',
 '0h30m',
 '1h0m',
 '0h0m',
 '0h2m',
 '0h40m',
 '1h5m',
 '0h55m',
 '1h20m',
 '0h40m',
 '0h55m',
 '3h0m',
 '241h0m',
 '0h40m',
 '0h27m',
 '1h10m',
 '1h5m',
 '0h20m',
 '0h30m',
 '1h15m',
 '1h5m',
 '0h55m',
 '0h50m',
 '1h20m',
 '1h15m',
 '0h45m',
 '0h55m',
 '0h2m',
 '2h15m',
 '0h35m',
 '0h20m',
 '6h20m',
 '1h10m',
 '1h20m',
 '0h38m',
 '0h51m',
 '0h30m',
 '0h20m',
 '0h5m',
 '0h5m',
 '0h5m',
 '0h25m',
 '0h10m',
 '0h5m',
 '0h45m',
 '0h10m',
 '0h15m',
 '2h45m',
 '6h10m',
 '3h0m',
 '0h25m',
 '0h25m',
 '0h40m',
 '0h6m',
 '1h10m',
 '0h5m',
 '0h25m',
 '0h35m',
 '1h25m',
 '0h40m',
 '1h20m',
 '0h20m',
 '0h15m',
 '0h20m',
 '0h31m',
 '0h30m',
 '0h30m',
 '0h17m',
 '0h35m',
 '0h35m',
 '0h55m',
 '24h30m',
 '0h5m',
 '2h15m',
 '0h30m',
 '0h15m',
 '0h5m',
 '0h20m',
 '1h5m',
 '0h35m',
 '1h5m',
 '0h20m',
 '1h0m',
 '0h8m',
 '1h20m',
 '0h30m',
 '1h45m',
 '0h5m',
 '1h15m',
 '12h2m',
 '1h15m',
 '0h33m',
 '1h40m',
 '5h20m',
 '1h20m',
 '0h45m',
 '0h30m',
 '0h30m',
 '1h10m',
 '1h0m',
 '4h10m',
 '0h10m',
 '10h45m',
 '12h0m',
 '4h20m',
 '1h5m',
 '0h50m',
 '1h15m',
 '0h40m',
 '3h25m',
 '1h0m',
 '1h0m',
 '1h10m',
 '0h30m',
 '0h5m',
 '0h17m',
 '0h25m',
 '0h10m',
 '1h10m',
 '0h21m',
 '2h25m',
 '0h20m',
 '2h15m',
 '0h40m',
 '2h0m',
 '0h17m',
 '0h25m',
 '0h10m',
 '0h10m',
 '0h25m',
 '0h35m',
 '0h0m',
 '0h45m',
 '0h25m',
 '0h45m',
 '0h55m',
 '0h40m',
 '0h30m',
 '1h5m',
 '1h5m',
 '0h55m',
 '0h30m',
 '0h40m',
 '1h25m',
 '0h10m',
 '0h15m',
 '0h5m',
 '1h5m',
 '2h45m',
 '1h0m',
 '2h0m',
 '1h55m',
 '2h15m',
 '0h40m',
 '0h20m',
 '1h30m',
 '0h55m',
 '1h25m',
 '1h5m',
 '0h20m',
 '0h30m',
 '0h30m',
 '1h20m',
 '0h20m',
 '3h15m',
 '1h25m',
 '1h5m',
 '5h45m',
 '1h15m',
 '1h5m',
 '1h5m',
 '3h15m',
 '0h30m',
 '0h15m',
 '1h15m',
 '1h10m',
 '1h30m',
 '1h25m',
 '0h35m',
 '0h30m',
 '0h35m',
 '0h37m',
 '1h0m',
 '0h30m',
 '0h45m',
 '0h30m',
 '2h0m',
 '1h30m',
 '0h10m',
 '4h10m',
 '1h30m',
 '6h30m',
 '2h10m',
 '0h32m',
 '0h40m',
 '0h15m',
 '1h40m',
 '1h10m',
 '0h15m',
 '2h45m',
 '0h45m',
 '0h30m',
 '0h15m',
 '0h5m',
 '1h40m',
 '0h6m',
 '0h5m',
 '0h15m',
 '0h20m',
 '1h10m',
 '1h0m',
 '0h2m',
 '1h15m',
 '0h35m',
 '0h55m',
 '1h20m',
 '0h15m',
 '6h20m',
 '0h30m',
 '0h50m',
 '0h40m',
 '0h55m',
 '0h26m',
 '0h45m',
 '0h26m',
 '1h5m',
 '0h40m',
 '0h40m',
 '1h20m',
 '0h50m',
 '0h45m',
 '0h10m',
 '1h0m',
 '0h35m',
 '0h10m',
 '1h0m',
 '1h10m',
 '0h20m',
 '1h0m',
 '0h30m',
 '0h11m',
 '1h20m',
 '1h30m',
 '1h15m',
 '0h42m',
 '1h45m',
 '0h27m',
 '1h15m',
 '0h35m',
 '1h10m',
 '1h0m',
 '0h10m',
 '0h35m',
 '0h55m',
 '0h15m',
 '1h20m',
 '0h40m',
 '1h15m',
 '0h35m',
 '0h35m',
 '0h57m',
 '1h10m',
 '1h5m',
 '0h0m',
 '1h20m',
 '1h5m',
 '1h0m',
 '0h55m',
 '1h15m',
 '1h15m',
 '0h35m',
 '0h30m',
 '0h5m',
 '0h50m',
 '0h25m',
 '2h20m',
 '0h25m',
 '0h5m',
 '3h0m',
 '0h45m',
 '0h16m',
 '0h55m',
 '1h0m',
 '0h30m',
 '0h11m',
 '1h15m',
 '0h55m',
 '1h10m',
 '1h10m',
 '1h0m',
 '0h30m',
 '0h55m',
 '0h5m',
 '0h55m',
 '0h5m',
 '0h5m',
 '0h5m',
 '0h55m',
 '0h55m',
 '1h10m',
 '0h8m',
 '0h50m',
 '1h15m',
 '0h45m',
 '0h40m',
 '0h50m',
 '1h30m',
 '0h10m',
 '1h20m',
 '0h35m',
 '0h40m',
 '0h45m',
 '0h50m',
 '0h45m',
 '8h30m',
 '0h20m',
 '1h5m',
 '0h15m',
 '1h5m',
 '1h15m',
 '1h10m',
 '0h30m',
 '0h50m',
 '0h45m',
 '0h7m',
 '0h20m',
 '5h30m',
 '1h5m',
 '0h35m',
 '0h50m',
 '0h33m',
 '0h45m',
 '1h0m',
 '1h35m',
 '0h25m',
 '0h15m',
 '0h27m',
 '0h25m',
 '0h8m',
 '0h30m',
 '1h40m',
 '0h23m',
 '1h5m',
 '4h30m',
 '0h40m',
 '0h22m',
 ...]

In [27]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

4.2 На основе таблицы `recipes` создайте таблицу, которая содержит только текстовые столбцы (используйте метод `select_dtypes`).  Примените к каждому элементу этой таблицы строковый метод `str.capitalize` при помощи метода `applymap`, не удаляя пропуски.

In [28]:
rec = recipes[['name', 'id', 'minutes', 'contributor_id', 'n_steps', 'description', 'n_ingredients']]
rec['name'] = rec['name'].astype(str)
rec['description'] = rec['description'].astype(str)
#rec['name'] = rec['name'].infer_objects()
#type(rec['name'])
sel = rec.select_dtypes(include=['object'])

sel.applymap(str.capitalize)

<ipython-input-28-3c0c33f72f74>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec['name'] = rec['name'].astype(str)
<ipython-input-28-3c0c33f72f74>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec['description'] = rec['description'].astype(str)

,name,description
0,George s at the cove black bean soup,An original recipe created by chef scott meska...
1,Healthy for them yogurt popsicles,My children and their friends ask for my homem...
2,I can t believe it s spinach,"These were so go, it surprised even me."
3,Italian gut busters,My sister-in-law made these for us at a family...
4,Love is in the air beef fondue sauces,I think a fondue is a very romantic casual din...
...,...,...
29995,Zurie s holey rustic olive and cheddar bread,This is based on a french recipe but i changed...
29996,Zwetschgenkuchen bavarian plum cake,"This is a traditional fresh plum cake, thought..."
29997,Zwiebelkuchen southwest german onion cake,This is a traditional late summer early fall s...
29998,Zydeco soup,This is a delicious soup that i originally fou...
29999,Cookies by design cookies on a stick,"I've heard of the 'cookies by design' company,..."

In [29]:
#Второй способ
rec = recipes[['name', 'id', 'minutes', 'contributor_id', 'n_steps', 'description', 'n_ingredients']]
rec = rec.select_dtypes(include=['object']).astype('str').applymap(str.capitalize)
rec

,name,description
0,George s at the cove black bean soup,An original recipe created by chef scott meska...
1,Healthy for them yogurt popsicles,My children and their friends ask for my homem...
2,I can t believe it s spinach,"These were so go, it surprised even me."
3,Italian gut busters,My sister-in-law made these for us at a family...
4,Love is in the air beef fondue sauces,I think a fondue is a very romantic casual din...
...,...,...
29995,Zurie s holey rustic olive and cheddar bread,This is based on a french recipe but i changed...
29996,Zwetschgenkuchen bavarian plum cake,"This is a traditional fresh plum cake, thought..."
29997,Zwiebelkuchen southwest german onion cake,This is a traditional late summer early fall s...
29998,Zydeco soup,This is a delicious soup that i originally fou...
29999,Cookies by design cookies on a stick,"I've heard of the 'cookies by design' company,..."

In [24]:
recipes.dtypes

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

4.3 Напишите функцию, которая принимает на вход серию `pd.Series` и для серий, содержащих текстовые данные, возвращает максимальную длину строк в ней, а для числовых серий возвращает минимальный элемент в этой серии. Примените данную функцию к каждому столбцу таблицы `recipes` при помощи метода `apply`.

In [36]:
recipes['name'] = recipes['name'].astype(str)
recipes['description'] = recipes['description'].astype(str)

def get_stats(x: pd.Series) -> int:
    if x.dtypes == 'int64' or x.dtypes == 'float64':
        return min(x)
    else:
        return max(len(i) for i in x)

recipes.apply(get_stats, axis = 0)

name                83.0
id                  48.0
minutes              0.0
contributor_id    1530.0
submitted           10.0
n_steps              NaN
description       6321.0
n_ingredients        1.0
dtype: float64

### Группировки таблиц `pd.DataFrame`

5.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [83]:
#merg = pd.merge(reviews,recipes, left_on = 'recipe_id', right_on = 'id')
merg = pd.merge(recipes, reviews, left_on = 'id', right_on = 'recipe_id')
merg

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,Unnamed: 0,user_id,recipe_id,date,rating,review
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,920960,743566,44123,2008-01-28,5,I lived in San Diego for 19 years and would g...
1,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,920958,76503,44123,2003-06-03,5,This soup is the Bomb! Don't hesitate to try.....
2,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,920957,34206,44123,2003-03-23,5,I just can't say enough about how wonderful th...
3,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,897580,494084,67664,2012-09-26,5,These are great! I use 100% (organic) juice a...
4,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,897579,303445,67664,2012-03-31,5,"Very, very good. My son loves these. He like..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126691,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,493812,305531,486161,2013-07-18,5,Delish! I made this as directed but used a smo...
126692,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,493330,1271506,486161,2012-09-10,5,Now the only substitution I made was African B...
126693,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,493813,724631,486161,2014-01-07,5,"Very tasty soup, moderate spiciness (even afte..."
126694,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,493811,133174,486161,2013-07-18,5,Very yummy indeed. A spicy sausage was used i...
126695,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,949985,804234,298512,2008-05-02,1,I would rate this a zero if I could. I followe...

In [91]:
print(merg.groupby('user_id')['name'].count())
merg.groupby('user_id')['name'].count().max()

user_id
1533          21
1535          87
1634           7
1676           2
1792           6
              ..
2002369279     1
2002369442     1
2002370317     1
2002370666     1
2002371792     1
Name: name, Length: 44803, dtype: int64

848

5.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [93]:
print(merg.groupby('name')['rating'].mean())
merg['review'].isna().sum()

name
0 fat chunky watermelon salsa                   5.000000
1 001 nights cake                               5.000000
1 1 1 tempura batter                            4.461538
1 2 3 4 cake  orange                            4.500000
1 2 3 bread                                     3.500000
                                                  ...
zuppa by luisa                                  5.000000
zurie s holey rustic olive and cheddar bread    3.750000
zwetschgenkuchen  bavarian plum cake            5.000000
zwiebelkuchen   southwest german onion cake     3.666667
zydeco soup                                     5.000000
Name: rating, Length: 28078, dtype: float64

17

5.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [104]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'], format="")
recipes.groupby(recipes['submitted'].dt.year)['name'].count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

5.4 Напишите функцию, которая принимает на вход таблицу (аналогичную `recipes` по набору столбцов), и возвращает `True` в том случае, если в столбце `minutes` присутствуют только значения, меньшие либо равные 10. Сгруппируйте таблицу `recipes` по полю `contributor_id` и для каждого участника выясните, справедливо ли, что все его рецепты занимают не более 10 минут.

In [ ]:
def has_only_fast_recipes(x: pd.DataFrame) -> bool:
    pass

assert not has_only_fast_recipes(
    pd.DataFrame(
        {
            "name": {0: "george s", 1: "healthy"},
            "id": {0: 44123, 1: 67664},
            "minutes": {0: 90, 1: 10},
            "contributor_id": {0: 35193, 1: 91970},
            "submitted": {0: "2002-10-25", 1: "2003-07-26"},
            "n_steps": {0: np.nan, 1: np.nan},
            "description": {0: "123", 1: "zxc"},
            "n_ingredients": {0: 18.0, 1: np.nan},
        }
    )
)
assert has_only_fast_recipes(
    pd.DataFrame(
        {
            "name": {0: "george s", 1: "healthy"},
            "id": {0: 44123, 1: 67664},
            "minutes": {0: 7, 1: 5},
            "contributor_id": {0: 35193, 1: 91970},
            "submitted": {0: "2002-10-25", 1: "2003-07-26"},
            "n_steps": {0: np.nan, 1: np.nan},
            "description": {0: "123", 1: "zxc"},
            "n_ingredients": {0: 18.0, 1: np.nan},
        }
    )
)

### Объединение таблиц `pd.DataFrame`

6.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [7]:
merg = recipes[['id', 'name']].merge(reviews[['user_id', 'rating','review']],
                                          left_on = 'id', right_on = 'user_id')

rev = pd.isna(merg['review'])
print(rev.value_counts())
# т.к. существует только значение False, что является индикатором заполненной ячейки,
#следовательно, рецептов на которых не было ни одного отзыва, не существует
merg6 = merg.dropna()
merg6 = merg.drop(columns=['review'])
merg6

False    5788
Name: review, dtype: int64

          id                                        name  user_id  rating
0      95926                  say what   banana sandwich    95926       5
1     226001          i can t believe i made cream puffs   226001       5
2     226001          i can t believe i made cream puffs   226001       4
3     116741                     tastes like   v 8 juice   116741       5
4     447429          bacon cheeseburger and fries  soup   447429       5
...      ...                                         ...      ...     ...
5783  130447  zucchini stuffed with goat cheese and mint   130447       4
5784  130447  zucchini stuffed with goat cheese and mint   130447       5
5785  130447  zucchini stuffed with goat cheese and mint   130447       3
5786  130447  zucchini stuffed with goat cheese and mint   130447       5
5787  335783                   zucchini tarte with bacon   335783       5

[5788 rows x 4 columns]

6.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [38]:
merg2 = recipes[['id', 'name']].merge(reviews[['recipe_id','review']],
                                          left_on = 'id', right_on = 'recipe_id')
merg2['review_count'] = merg2.groupby('recipe_id')['review'].transform('count')
merg2 = merg2.drop(columns=['id'])
merg2 = merg2.drop(columns=['review'])
merg2 = merg2.drop_duplicates()
merg2

                                                name  recipe_id  review_count
0              george s at the cove  black bean soup      44123             3
3                 healthy for them  yogurt popsicles      67664             8
11                      i can t believe it s spinach      38798             3
14                              italian  gut busters      35173             1
15          love is in the air  beef fondue   sauces      84797             8
...                                              ...        ...           ...
126677  zurie s holey rustic olive and cheddar bread     267661             4
126681          zwetschgenkuchen  bavarian plum cake     386977             2
126683   zwiebelkuchen   southwest german onion cake     103312             6
126689                                   zydeco soup     486161             6
126695        cookies by design   cookies on a stick     298512             1

[28100 rows x 3 columns]

6.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [168]:
reviews['date'] = pd.to_datetime(reviews['date'], format="")
mn = reviews.groupby(reviews['date'].dt.year)['rating'].mean()
m = min(mn)
mn[mn==m]
#2017 год

date
2017    3.353042
Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

7.1 Отсортируйте результат выполнения задания 6.1 в порядке убывания величины столбца `id` и сохраните результаты в csv файл.

In [10]:
merg6 = merg6.sort_values(['id'], ascending = False)
merg6
merg6.to_csv('merg6.csv')

7.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 6.1 и 6.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 6.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 6.2.

In [16]:
writer = pd.ExcelWriter('5.1_5.2.xlsx')
merg6.to_excel(writer,'Рецепты с оценками')
merg2.to_excel(writer,'Количество отзывов по рецептам')
writer.save()